body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.myForm
{
    width:400px;
}
#formTitle, #formAuthor, #formPicture, #formText{
    width:400px;
}

.main_div{
    margin-top:10px;
    margin-bottom:10px;
}

#author{
    font-size:12px;
    background-color:blue;
    margin-top:-25px;
}
#title{
    background-color:aqua;
}

#parent{
    display:flex;
}

#picture{
    background-color:red;
    float:left;
    width:200px;
    height:200px;
    display:inline;
    margin-right:10px;
}

#text{
    background-color:greenyellow;   
    display:inline;
    flex:1;
}